
create database session12;
create schema se12;

create table customers(
                          customer_id serial primary key,
                          name varchar(100),
                          email varchar(100)
);

create table customer_log(
                             log_id serial primary key,
                             customer_name varchar(50),
                             action_time timestamp
);

create or replace function insert_customer()
returns trigger as $$
begin
insert into customer_log(customer_name, action_time)
values (
           new.name,
           current_timestamp
       );
return new;
end;
$$ language plpgsql;

create or replace trigger trg_insert_cus
after insert on customers
for each row
execute function insert_customer();

insert into customers(name, email)
values ('Nguyen Van A', 'nga@gmail.com');

select * from customers;
select * from customer_log;