create table products(
    product_id serial primary key,
    name varchar(50),
    stock int
);

INSERT INTO products (name, stock)
VALUES
    ('Laptop Dell XPS', 10),
    ('iPhone 15 Pro', 25);

create table sales(
    sale_id serial primary key,
    product_id int references products(product_id),
    quantity int
);

create or replace function insert_sale()
returns trigger as $$
    declare
        fun_stock int;
    begin
        select stock into fun_stock from products where product_id = new.product_id;
        if fun_stock < new.quantity then
            raise exception 'Không đủ sản phẩm có mã % trong kho', new.product_id;
        end if;
        update products
        set stock = fun_stock - new.quantity
        where product_id = new.product_id;
        return new;
        exception
        when others then
        raise;
    end;
$$ language plpgsql;

create or replace trigger trg_insert_sale
before insert on sales
for each row
execute function insert_sale();

insert into sales(product_id, quantity)
values(1, 7);

select * from products;
select * from sales;

