create table products3
(
    product_id serial primary key,
    name       varchar(50),
    stock      int,
    price numeric(10,2)
);

create table orders(
    order_id serial primary key,
    product_id int references products3(product_id),
    quantity int,
    total_amount numeric(10, 2)
);

drop table orders;

create or replace function insert_order()
returns trigger as $$
    declare
        fun_stock int;
        fun_price_pro numeric(10, 2);
    begin
        select stock, price into fun_stock, fun_price_pro
        from products3
        where product_id = new.product_id;
        if fun_stock < new.quantity then
            raise exception 'Sản phẩm có mã % không đủ trong kho !', new.product_id;
        end if;
        new.total_amount = new.quantity * fun_price_pro;
        update products3
        set stock = fun_stock - new.quantity
        where product_id = new.product_id;
        return new;
        exception
        when others then
        raise;
    end;
$$ language plpgsql;

create or replace trigger trg_insert_order
before insert on orders
for each row
execute function insert_order();

INSERT INTO products3 (name, stock, price)
VALUES
    ('Bàn phím cơ Akko', 50, 1250000.00),
    ('Chuột Logitech G502', 30, 950000.00);

insert into orders(product_id, quantity)
values (1, 20);

select * from products3;
select * from orders;