create table employees(
    emp_id serial primary key,
    name varchar(100),
    position varchar(50)
);

INSERT INTO employees (name, position)
VALUES
    ('Nguyen Trung Tuan', 'Java Backend Developer'),
    ('Nguyễn Thị Ngọc Trâm', 'Project Manager'),
    ('Le Van A', 'Database Administrator');

create table employee_log(
    log_id serial primary key,
    emp_name varchar(50),
    action_time timestamp
);

create or replace function update_emp()
returns trigger as $$
    begin
        insert into employee_log(emp_name, action_time)
        values(new.name, current_timestamp);
        return new;
    end;
$$ language plpgsql;

create or replace trigger trg_up_emp
after update on employees
for each row
execute function update_emp();

update employees
set position = 'Lecturer'
where emp_id = 2;
select * from employee_log;
select * from employees;