create table accounts(
    account_id serial primary key,
    account_name varchar(100),
    balance numeric(10, 2)
);
INSERT INTO accounts (account_name, balance)
VALUES
    ('Nguyen Trung Tuan', 5000.00),
    ('Nguyen Thi Ngoc Tram', 3000.00);


create or replace procedure trans(p_acc_id_1 int, p_acc_id_2 int, money numeric(10, 2))
language plpgsql
as $$
    begin
        declare
            p_balance_1 numeric(10, 2);
        begin
            select balance into p_balance_1 from accounts where account_id = p_acc_id_1;
            if p_balance_1 < money then
                raise exception 'Tài khoản có mã % không đủ số dư !', p_acc_id_1;
            end if;
            update accounts
            set balance = p_balance_1 - money
            where account_id = p_acc_id_1;

            update accounts
            set balance = balance + money
            where account_id = p_acc_id_2;

            exception
            when others then
            raise;
        end;
    end;
$$;

call trans(1, 2, 1000000);

select * from accounts;